<ion-header>
  <ion-toolbar>
    <ion-title>Overnight Log</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Content Body -->
<ion-content>

  <!-- Input: Sleep Start Time -->
  <ion-item>
    <ion-label>Sleep Start Time</ion-label>
    <ion-datetime display-format="MM/DD/YYYY HH:mm:ss">
    </ion-datetime>
  </ion-item>
  
  <!-- Input: Sleep End Time -->
  <ion-item>
    <ion-label>Sleep End Time</ion-label>
    <ion-datetime display-format="MM/DD/YYYY HH:mm:ss">
    </ion-datetime>
  </ion-item>

  

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>
