<ion-header>
  <ion-toolbar>
    <ion-title>Overnight Log</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Content Body -->
<ion-content>
  <ion-text id="title">Overnight Log</ion-text>

  <!-- Input: Sleep Start Time -->
  <ion-list>
    <ion-item>
      <ion-label>Sleep Start Time</ion-label>
      <ion-datetime display-format="MM/DD/YYYY HH:mm:ss" [(ngModel)]="sleepStart">
      </ion-datetime>
    </ion-item>
    
    <!-- Input: Sleep End Time -->
    <ion-item>
      <ion-label>Sleep End Time</ion-label>
      <ion-datetime display-format="MM/DD/YYYY HH:mm:ss" [(ngModel)]="sleepEnd">
      </ion-datetime>
    </ion-item>
  </ion-list>

  <!-- Button: Submit Time -->
  <ion-button expand="block" (click)="addDataEntry()">Submit Time</ion-button>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>
