<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sleep Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sleep Tracker</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
    <ion-button expand="block" href="overnight-log">Overnight Log</ion-button>
    <ion-button expand="block" href="sleepiness-log">Sleepiness Log</ion-button>
    <ion-button expand="block" href="data-view">View Data</ion-button>
  </div>
</ion-content>
