<ion-header>
  <ion-toolbar>
    <ion-title>Sleepiness Log</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Content Body -->
<ion-content>
  <ion-button href="">Home</ion-button>

  <!-- Input: Log Time -->
  <ion-item>
    <ion-label>Log Time</ion-label>
    <ion-datetime display-format="MM/DD/YYYY HH:mm:ss" [(ngModel)]="logTime">
    </ion-datetime>
  </ion-item>

  <ion-range (ionChange)="onIonChange($event)" [ticks]="true" [snaps]="true" [min]="1" [max]="7"></ion-range>
  <ion-label>Description: {{ rangeValue }}</ion-label>

  <!-- Button: Submit Time -->
  <ion-button expand="block" (click)="addDataEntry()">Submit Sleepiness</ion-button>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>
