<ion-header>
  <ion-toolbar>
    <ion-title>View Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button href="">Home</ion-button>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <p>Pull this content down to trigger the refresh and view the updated log.</p>

  <ion-text color="primary">
    <h1>Your Overnight Sleep Log</h1>
  </ion-text>

  <ion-list>
    <ion-card *ngFor="let overnight of overnightData">
      <ion-card-header>
        <ion-card-title>{{overnight.loggedAt}}</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        {{overnight.summaryString()}}
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-text color="primary">
    <h1>Your Sleepiness Log</h1>
  </ion-text>

  <ion-list>
    <ion-card *ngFor="let sleepiness of sleepinessData">
      <ion-card-header>
        <ion-card-title>{{sleepiness.loggedAt}}</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        {{sleepiness.summaryString()}}
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-button expand="block" (click)="clearData()">Clear Data</ion-button>

</ion-content>
