<ion-header>
  <ion-toolbar>
    <ion-title>View Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-text id="title">View Log</ion-text>
  <br>
  <ion-text id="info">Pull down to refresh log data.</ion-text>

  <ion-text id="subtitle">Your Overnight Log Data</ion-text>

  <ion-list>
    <ion-card *ngFor="let overnight of overnightData">
      <ion-card-header>
        <ion-card-title>{{overnight.dateString()}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{overnight.summaryString()}}
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-text id="subtitle">Your Sleepiness Log Data</ion-text>

  <ion-list>
    <ion-card *ngFor="let sleepiness of sleepinessData">
      <ion-card-header>
        <ion-card-title>{{sleepiness.dateString()}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{sleepiness.summaryString()}}
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-button expand="block" (click)="clearData()">Clear Data</ion-button>

</ion-content>
