<ion-header>
  <ion-toolbar>
    <ion-title>View Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button href="">Home</ion-button>

  <ion-list>
    <ion-card ngFor="let sleepData of overnightData">
      <ion-card-header>
        <ion-card-title>{{sleepData.loggedAt}}</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
